In [1]:
import pandas as pd
import numpy as np

## 경북

In [3]:
# 관광지 리스트 불러오기
tourList = pd.read_csv('경북.csv', encoding='EUC-KR')
# 주소를 " "(띄워쓰기) 기준으로 나눠서 리스트에서 시,군에 해당하는 1번 가져와 'addr2'컬럼으로 데이터프레임에 추가
tourList['addr2'] = tourList['addr1'].str.split(" ", expand=True)[1]
# 'addr2'컬럼의 value값 종류 확인하기(시,군 종류)
addr2List = tourList['addr2'].value_counts().index
tourList['addr2'].value_counts()        
len(tourList)

810

In [3]:
# addr2 의 컬럼에서 시작문자가 '북구'인 행 추출
tourList[tourList['addr2'].str.startswith("북구")]

,Unnamed: 0,title,addr1,mapx,mapy,firstimage,overview,addr2
718,718,칠포해오름전망대,포항시 북구 흥해읍 칠포리 산2-2,129.39737,36.147584,http://tong.visitkorea.or.kr/cms/resource/66/2...,"칠포해오름전망대는 경북 포항시 북구 흥해읍에 자리 잡고 있다.해오름이란 포항, 울산...",북구

In [4]:
# addr2 컬럼에 '산내면'을 '경주시'로 변경
tourList=tourList.replace({'addr2':'산내면'},'경주시')
tourList=tourList.replace({'addr2':'북구'},'포항시')

In [5]:
addr2List = tourList['addr2'].value_counts().index
addr2List

Index(['경주시', '포항시', '안동시', '청송군', '울진군', '구미시', '영주시', '상주시', '울릉군', '영덕군',
       '봉화군', '청도군', '문경시', '의성군', '칠곡군', '예천군', '고령군', '영천시', '경산시', '성주군',
       '김천시', '영양군'],
      dtype='object')

In [6]:
tourListN = []
for i in range(len(addr2List)):
    tourListN.append(tourList[tourList['addr2'].str.startswith(addr2List[i])])
    tourListN[i] = tourListN[i].drop(["Unnamed: 0"],axis=1)
    tourListN[i] = tourListN[i].reset_index(drop=True)
    tourListN[i].to_csv(f'경북{addr2List[i]}.csv',encoding='utf-8')

## 경남

In [4]:
# 관광지 리스트 불러오기
tourList = pd.read_csv('경남.csv', encoding='EUC-KR')
# 주소를 " "(띄워쓰기) 기준으로 나눠서 리스트에서 시,군에 해당하는 1번 가져와 'addr2'컬럼으로 데이터프레임에 추가
tourList['addr2'] = tourList['addr1'].str.split(" ", expand=True)[1]
# 'addr2'컬럼의 value값 종류 확인하기(시,군 종류)
addr2List = tourList['addr2'].value_counts().index
tourList['addr2'].value_counts()        
len(tourList)

881

In [8]:
tourList[tourList['addr2'].str.startswith("남상면")]

,Unnamed: 0,title,addr1,mapx,mapy,firstimage,overview,addr2
20,20,감악산(거창),거창군 남상면 무촌리 산295번지 일원(신원면 구사리 산12-1 인근),127.929557,35.596422,http://tong.visitkorea.or.kr/cms/resource/05/2...,* 거룩한 산이라는 뜻의 감악산 *\n감악산(952m)은 남상면 무촌리 신원면 과정...,남상면

In [9]:
tourList=tourList.replace({'addr2':'남상면'},'거창군')

In [10]:
addr2List = tourList['addr2'].value_counts().index
addr2List

Index(['거제시', '창원시', '하동군', '남해군', '통영시', '밀양시', '산청군', '사천시', '함양군', '김해시',
       '진주시', '양산시', '거창군', '합천군', '함안군', '고성군', '창녕군', '의령군'],
      dtype='object')

In [11]:
tourListN = []
for i in range(len(addr2List)):
    tourListN.append(tourList[tourList['addr2'].str.startswith(addr2List[i])])
    tourListN[i] = tourListN[i].drop(["Unnamed: 0"],axis=1)
    tourListN[i] = tourListN[i].reset_index(drop=True)
    tourListN[i].to_csv(f'경남{addr2List[i]}.csv',encoding='utf-8')

## 경기도

In [5]:
# 관광지 리스트 불러오기
tourList = pd.read_csv('경기.csv', encoding='EUC-KR')
# 주소를 " "(띄워쓰기) 기준으로 나눠서 리스트에서 시,군에 해당하는 1번 가져와 'addr2'컬럼으로 데이터프레임에 추가
tourList['addr2'] = tourList['addr1'].str.split(" ", expand=True)[1]
# 'addr2'컬럼의 value값 종류 확인하기(시,군 종류)
addr2List = tourList['addr2'].value_counts().index
tourList['addr2'].value_counts()        
len(tourList)

1123

In [13]:
tourList[tourList['addr2'].str.startswith("장안구")]  # 수원시
tourList[tourList['addr2'].str.startswith("팔달구")]  # 수원시

,Unnamed: 0,title,addr1,mapx,mapy,firstimage,overview,addr2
550,550,숙지공원,수원시 팔달구 화서2동 264,126.997074,37.284504,http://tong.visitkorea.or.kr/cms/resource/25/2...,"수원시 팔달구 화서동 숙지산에 조성된 공원으로 면적은 약 23,000㎡이다. 200...",팔달구

In [14]:
tourList=tourList.replace({'addr2':'장안구'},'수원시')
tourList=tourList.replace({'addr2':'팔달구'},'수원시')

In [15]:
addr2List = tourList['addr2'].value_counts().index
addr2List

Index(['화성시', '파주시', '양평군', '안성시', '수원시', '용인시', '포천시', '가평군', '고양시', '남양주시',
       '안산시', '연천군', '성남시', '평택시', '광주시', '이천시', '시흥시', '여주시', '양주시', '김포시',
       '안양시', '부천시', '하남시', '오산시', '과천시', '구리시', '의정부시', '군포시', '의왕시', '광명시',
       '동두천시'],
      dtype='object')

In [16]:
tourListN = []
for i in range(len(addr2List)):
    tourListN.append(tourList[tourList['addr2'].str.startswith(addr2List[i])])
    tourListN[i] = tourListN[i].drop(["Unnamed: 0"],axis=1)
    tourListN[i] = tourListN[i].reset_index(drop=True)
    tourListN[i].to_csv(f'경기도{addr2List[i]}.csv',encoding='utf-8')

## 강원도

In [6]:
# 관광지 리스트 불러오기
tourList = pd.read_csv('강원.csv', encoding='EUC-KR')
# 주소를 " "(띄워쓰기) 기준으로 나눠서 리스트에서 시,군에 해당하는 1번 가져와 'addr2'컬럼으로 데이터프레임에 추가
tourList['addr2'] = tourList['addr1'].str.split(" ", expand=True)[1]
# 'addr2'컬럼의 value값 종류 확인하기(시,군 종류)
addr2List = tourList['addr2'].value_counts().index
tourList['addr2'].value_counts()        
len(tourList)

929

In [18]:
tourList=tourList.dropna()

In [19]:
tourList.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 928 entries, 0 to 928
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  928 non-null    int64
 1   title       928 non-null    object
 2   addr1       928 non-null    object
 3   mapx        928 non-null    float64
 4   mapy        928 non-null    float64
 5   firstimage  928 non-null    object
 6   overview    928 non-null    object
 7   addr2       928 non-null    object
dtypes: float64(2), int64(1), object(5)
memory usage: 65.2+ KB

In [20]:
tourListN = []
for i in range(len(addr2List)):
    tourListN.append(tourList[tourList['addr2'].str.startswith(addr2List[i])])
    tourListN[i] = tourListN[i].drop(["Unnamed: 0"],axis=1)
    tourListN[i] = tourListN[i].reset_index(drop=True)
    tourListN[i].to_csv(f'강원도{addr2List[i]}.csv',encoding='utf-8')

## 충북

In [7]:
# 관광지 리스트 불러오기
tourList = pd.read_csv('충북.csv', encoding='EUC-KR')
# 주소를 " "(띄워쓰기) 기준으로 나눠서 리스트에서 시,군에 해당하는 1번 가져와 'addr2'컬럼으로 데이터프레임에 추가
tourList['addr2'] = tourList['addr1'].str.split(" ", expand=True)[1]
# 'addr2'컬럼의 value값 종류 확인하기(시,군 종류)
addr2List = tourList['addr2'].value_counts().index
tourList['addr2'].value_counts()        
len(tourList)

407

In [22]:
tourList[tourList['addr2'].str.startswith("대덕구")]  #  대전
tourList[tourList['addr2'].str.startswith("제천시봉양읍")]  # 제천시
tourList[tourList['addr2'].str.startswith("상당구")]  # 청주시

,Unnamed: 0,title,addr1,mapx,mapy,firstimage,overview,addr2
351,351,청주 용두사지 철당간,청주시 상당구 남문로 2가 48-19,127.489648,36.633093,http://tong.visitkorea.or.kr/cms/resource/87/5...,1962년 12월 20일 국보로 지정되었다. 화강석(花崗石)으로 만든 지주는 높이 ...,상당구

In [23]:
tourList=tourList.replace({'addr2':'제천시봉양읍'},'제천시')
tourList=tourList.replace({'addr2':'상당구'},'청주시')

In [24]:
# 대전광역시 데이터라서 삭제
tourList = tourList.drop(tourList[tourList['addr2'] == '대덕구'].index)

In [25]:
addr2List = tourList['addr2'].value_counts().index
tourList['addr2'].value_counts()

괴산군    54
청주시    52
단양군    52
제천시    49
충주시    39
영동군    36
음성군    28
진천군    28
옥천군    27
보은군    25
증평군    16
Name: addr2, dtype: int64

In [26]:
tourListN = []
for i in range(len(addr2List)):
    tourListN.append(tourList[tourList['addr2'].str.startswith(addr2List[i])])
    tourListN[i] = tourListN[i].drop(["Unnamed: 0"],axis=1)
    tourListN[i] = tourListN[i].reset_index(drop=True)
    tourListN[i].to_csv(f'충북{addr2List[i]}.csv',encoding='utf-8')

## 충남

In [8]:
# 관광지 리스트 불러오기
tourList = pd.read_csv('충남.csv', encoding='EUC-KR')
# 주소를 " "(띄워쓰기) 기준으로 나눠서 리스트에서 시,군에 해당하는 1번 가져와 'addr2'컬럼으로 데이터프레임에 추가
tourList['addr2'] = tourList['addr1'].str.split(" ", expand=True)[1]
# 'addr2'컬럼의 value값 종류 확인하기(시,군 종류)
addr2List = tourList['addr2'].value_counts().index
tourList['addr2'].value_counts()        
len(tourList)

584

In [28]:
tourListN = []
for i in range(len(addr2List)):
    tourListN.append(tourList[tourList['addr2'].str.startswith(addr2List[i])])
    tourListN[i] = tourListN[i].drop(["Unnamed: 0"],axis=1)
    tourListN[i] = tourListN[i].reset_index(drop=True)
    tourListN[i].to_csv(f'충남{addr2List[i]}.csv',encoding='utf-8')

## 전북

In [9]:
# 관광지 리스트 불러오기
tourList = pd.read_csv('전북.csv', encoding='EUC-KR')
# 주소를 " "(띄워쓰기) 기준으로 나눠서 리스트에서 시,군에 해당하는 1번 가져와 'addr2'컬럼으로 데이터프레임에 추가
tourList['addr2'] = tourList['addr1'].str.split(" ", expand=True)[1]
# 'addr2'컬럼의 value값 종류 확인하기(시,군 종류)
addr2List = tourList['addr2'].value_counts().index
tourList['addr2'].value_counts()        
len(tourList)

495

In [30]:
tourListN = []
for i in range(len(addr2List)):
    tourListN.append(tourList[tourList['addr2'].str.startswith(addr2List[i])])
    tourListN[i] = tourListN[i].drop(["Unnamed: 0"],axis=1)
    tourListN[i] = tourListN[i].reset_index(drop=True)
    tourListN[i].to_csv(f'전북{addr2List[i]}.csv',encoding='utf-8')

## 전남

In [10]:
# 관광지 리스트 불러오기
tourList = pd.read_csv('전남.csv', encoding='EUC-KR')
# 주소를 " "(띄워쓰기) 기준으로 나눠서 리스트에서 시,군에 해당하는 1번 가져와 'addr2'컬럼으로 데이터프레임에 추가
tourList['addr2'] = tourList['addr1'].str.split(" ", expand=True)[1]
# 'addr2'컬럼의 value값 종류 확인하기(시,군 종류)
addr2List = tourList['addr2'].value_counts().index
tourList['addr2'].value_counts()        
len(tourList)

771

In [32]:
tourListN = []
for i in range(len(addr2List)):
    tourListN.append(tourList[tourList['addr2'].str.startswith(addr2List[i])])
    tourListN[i] = tourListN[i].drop(["Unnamed: 0"],axis=1)
    tourListN[i] = tourListN[i].reset_index(drop=True)
    tourListN[i].to_csv(f'전남{addr2List[i]}.csv',encoding='utf-8')