In [1]:
import pandas as pd
import numpy as np

In [33]:
# 서울
# 관광지 불러오기
seoul = pd.read_csv('서울관광지.csv',encoding='cp949')
# 불필요한 key값 "Column1" 삭제하기
seoul = seoul.drop(["Column1"],axis=1)
# None 값이 있는 행 삭제하기
seoul = seoul.dropna()
# 인덱스 번호 다시 지정 
seoul.reset_index(drop=True, inplace=True)
seoul.to_csv('서울.csv',encoding='EUC-KR')

In [34]:
# 인천
# 관광지 불러오기
inchon = pd.read_csv('인천관광지.csv',encoding='cp949')
# 불필요한 key값 "Column1" 삭제하기
inchon = inchon.drop(["Column1"],axis=1)
# None 값이 있는 행 삭제하기
inchon = inchon.dropna()
# 인덱스 번호 다시 지정 
inchon.reset_index(drop=True, inplace=True)
inchon.to_csv('인천.csv',encoding='EUC-KR')

In [35]:
# 대전
# 관광지 불러오기
daejeon = pd.read_csv('대전관광지.csv',encoding='cp949')
# 불필요한 key값 "Column1" 삭제하기
daejeon = daejeon.drop(["Column1"],axis=1)
# None 값이 있는 행 삭제하기
daejeon = daejeon.dropna()
# 인덱스 번호 다시 지정 
daejeon.reset_index(drop=True, inplace=True)
daejeon.to_csv('대전.csv',encoding='EUC-KR')

In [36]:
# 대구
# 관광지 불러오기
daegu = pd.read_csv('대구관광지.csv',encoding='cp949')
# 불필요한 key값 "Column1" 삭제하기
daegu = daegu.drop(["Column1"],axis=1)
# None 값이 있는 행 삭제하기
daegu = daegu.dropna()
# 인덱스 번호 다시 지정 
daegu.reset_index(drop=True, inplace=True)
daegu.to_csv('대구.csv',encoding='EUC-KR')

In [37]:
# 광주
# 관광지 불러오기
gwangju = pd.read_csv('광주관광지.csv',encoding='cp949')
# 불필요한 key값 "Column1" 삭제하기
gwangju = gwangju.drop(["Column1"],axis=1)
# None 값이 있는 행 삭제하기
gwangju = gwangju.dropna()
# 인덱스 번호 다시 지정 
gwangju.reset_index(drop=True, inplace=True)
gwangju.to_csv('광주.csv',encoding='EUC-KR')

In [38]:
# 울산
# 관광지 불러오기
ulsan = pd.read_csv('울산관광지.csv',encoding='cp949')
# 불필요한 key값 "Column1" 삭제하기
ulsan = ulsan.drop(["Column1"],axis=1)
# None 값이 있는 행 삭제하기
ulsan = ulsan.dropna()
# 인덱스 번호 다시 지정 
ulsan.reset_index(drop=True, inplace=True)
ulsan.to_csv('울산.csv',encoding='EUC-KR')

In [39]:
# 부산
# 관광지 불러오기
busan = pd.read_csv('부산관광지.csv',encoding='cp949')
# 불필요한 key값 "Column1" 삭제하기
busan = busan.drop(["Column1"],axis=1)
# None 값이 있는 행 삭제하기
busan = busan.dropna()
# 인덱스 번호 다시 지정 
busan.reset_index(drop=True, inplace=True)
busan.to_csv('부산.csv',encoding='EUC-KR')

In [40]:
# 세종
# 관광지 불러오기
sejong = pd.read_csv('세종관광지.csv',encoding='cp949')
# 불필요한 key값 "Column1" 삭제하기
sejong = sejong.drop(["Column1"],axis=1)
# None 값이 있는 행 삭제하기
sejong = sejong.dropna()
# 인덱스 번호 다시 지정 
sejong.reset_index(drop=True, inplace=True)
sejong.to_csv('세종.csv',encoding='EUC-KR')

In [41]:
# 제주
# 관광지 불러오기
jeju = pd.read_csv('제주관광지.csv',encoding='cp949')
# 불필요한 key값 "Column1" 삭제하기
jeju = jeju.drop(["Column1"],axis=1)
# None 값이 있는 행 삭제하기
jeju = jeju.dropna()
# 인덱스 번호 다시 지정 
jeju.reset_index(drop=True, inplace=True)
jeju.to_csv('제주.csv',encoding='EUC-KR')

In [43]:
# 경기도
# 관광지 불러오기
gyeonggi = pd.read_csv('경기도관광지.csv',encoding='cp949')
# 불필요한 key값 "Column1" 삭제하기
gyeonggi = gyeonggi.drop(["Column1"],axis=1)
# None 값이 있는 행 삭제하기
gyeonggi = gyeonggi.dropna()
# 인덱스 번호 다시 지정 
gyeonggi.reset_index(drop=True, inplace=True)
gyeonggi.to_csv('경기.csv',encoding='EUC-KR')

In [44]:
# 강원
# 관광지 불러오기
gangwon = pd.read_csv('강원관광지.csv',encoding='cp949')
# 불필요한 key값 "Column1" 삭제하기
gangwon = gangwon.drop(["Column1"],axis=1)
# None 값이 있는 행 삭제하기
gangwon = gangwon.dropna()
# 인덱스 번호 다시 지정 
gangwon.reset_index(drop=True, inplace=True)
gangwon.to_csv('강원.csv',encoding='EUC-KR')

In [45]:
# 충북
# 관광지 불러오기
chungbuk = pd.read_csv('충북관광지.csv',encoding='cp949')
# 불필요한 key값 "Column1" 삭제하기
chungbuk = chungbuk.drop(["Column1"],axis=1)
# None 값이 있는 행 삭제하기
chungbuk = chungbuk.dropna()
# 인덱스 번호 다시 지정 
chungbuk.reset_index(drop=True, inplace=True)
chungbuk.to_csv('충북.csv',encoding='EUC-KR')

In [46]:
# 충남
# 관광지 불러오기
chungnam = pd.read_csv('충남관광지.csv',encoding='cp949')
# 불필요한 key값 "Column1" 삭제하기
chungnam = chungnam.drop(["Column1"],axis=1)
# None 값이 있는 행 삭제하기
chungnam = chungnam.dropna()
# 인덱스 번호 다시 지정 
chungnam.reset_index(drop=True, inplace=True)
chungnam.to_csv('충남.csv',encoding='EUC-KR')

In [48]:
# 경북
# 관광지 불러오기
gyeongbuk = pd.read_csv('경북관광지.csv',encoding='cp949')
# 불필요한 key값 "Column1" 삭제하기
gyeongbuk = gyeongbuk.drop(["Column1"],axis=1)
# None 값이 있는 행 삭제하기
gyeongbuk = gyeongbuk.dropna()
# 인덱스 번호 다시 지정 
gyeongbuk.reset_index(drop=True, inplace=True)
gyeongbuk.to_csv('경북.csv',encoding='EUC-KR')

In [49]:
# 경남
# 관광지 불러오기
gyeongnam = pd.read_csv('경남관광지.csv',encoding='cp949')
# 불필요한 key값 "Column1" 삭제하기
gyeongnam = gyeongnam.drop(["Column1"],axis=1)
# None 값이 있는 행 삭제하기
gyeongnam = gyeongnam.dropna()
# 인덱스 번호 다시 지정 
gyeongnam.reset_index(drop=True, inplace=True)
gyeongnam.to_csv('경남.csv',encoding='EUC-KR')

In [50]:
# 전북
# 관광지 불러오기
jeonbuk = pd.read_csv('전북관광지.csv',encoding='cp949')
# 불필요한 key값 "Column1" 삭제하기
jeonbuk = jeonbuk.drop(["Column1"],axis=1)
# None 값이 있는 행 삭제하기
jeonbuk = jeonbuk.dropna()
# 인덱스 번호 다시 지정 
jeonbuk.reset_index(drop=True, inplace=True)
jeonbuk.to_csv('전북.csv',encoding='EUC-KR')

In [51]:
# 전남
# 관광지 불러오기
jeonnam = pd.read_csv('전남관광지.csv',encoding='cp949')
# 불필요한 key값 "Column1" 삭제하기
jeonnam = jeonnam.drop(["Column1"],axis=1)
# None 값이 있는 행 삭제하기
jeonnam = jeonnam.dropna()
# 인덱스 번호 다시 지정 
jeonnam.reset_index(drop=True, inplace=True)
jeonnam.to_csv('전남.csv',encoding='EUC-KR')